@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;

    transition: .2s;

    @media (max-width: 1086px) {
        text-align: center;
    }
}

h1,h2,h3,h4,h5,h6,p {
    text-shadow: 0 0 4px rgba(black, .2);
    font-family: 'Poppins', sans-serif;
}

body {
    box-sizing: border-box;
}

nav {
    //padding: .5rem 1rem;
    box-shadow: 0px 2px 4px rgba(black, .1);
}

h2 {
    margin: 2rem 0 0 0;
}

.highlight {
    background-color: #fef160;
    color: #232323;
    padding: 0 .2rem;
    text-shadow: none;
}

.home {
    background: linear-gradient(to bottom right, hsla(204, 86%, 53%, .4), hsla(204, 71%, 31%, .4)), url(https://images.unsplash.com/photo-1543269664-7eef42226a21?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80), center / cover;
    //background-image: url(images/bg2.png);
    background-position: center;
    background-size: cover;
}

.about {
    background-image: linear-gradient(to bottom right, hsla(204, 86%, 53%, .9), hsla(204, 71%, 31%, .9)),url(https://images.unsplash.com/photo-1543269664-7eef42226a21?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80) ;
    background-position: center;
    background-size: cover;
}

.download {
    //background: url(https://images.unsplash.com/photo-1484417894907-623942c8ee29?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80), center / cover;
    background-image: url(images/bg2.png);
    background-position: center;
    background-size: cover;
}

@media (max-width: 1086px) {
    .buttons {
        text-align: center;
    }
}

#graphica-desc {
    width: 60%;

    @media (max-width: 1086px) {
      width: 100%;
    }
}

#texto-desc {

    @media (max-width: 1086px) {
        text-align: center;
    }
}

.graphica-photo {
    box-shadow: 0 0 8px 4px rgba(black, .2);
}

.is-lesspadding {
    padding: 2rem 3rem;
}
